* {
  margin: 0;
  padding: 0;
  font-family: 'Rambla', sans-serif;
}

html {
  box-sizing: border-box;
}

h1 {
  display: inline-block;
  height: 10vh;
  padding: 50px 0 0 10px;
}

.banner a {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 20px;
}

ul {
  padding-top: 20vh;
  width: 40vw;
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Shrikhand', cursive;
  color: #fcfcfc;
  font-size: 2rem;
  text-align: right;
  line-height: 1.2em;
}

.aside-nav a {
    display: inline-flex;

}

.aside-nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20vh;
  width: 35vw;
  justify-content: space-around;
}

.flex-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.galaxy-logo {
  width: 22%;
  height: 22%;
  justify-content: center;
  align-items: center;
}

.banner {
  height: 20vh;
  background: #191716;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 15px; */
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 60vh;
}

.profile-card {
 width: 23.5%;
 height: 100%;
 border: 1px solid mistyrose;
 /* display: flex; */
 margin: 10px 8px 0 8px;
}
